<!doctype html />

<html>
  
   <style>
      #header {
        background-color:black;
        color:white;
        text-align:center;
        padding:5px;
      }
      #nav {
        line-height:30px;
        background-color:#eeeeee;
        height:300px;
        width:100px;
        float:left;
        padding:5px;
      }
      #section {
        width:350px;
        float:left;
        padding:10px;
      }
      #footer {
        background-color:black;
        color:white;
        clear:both;
        text-align:center;
        padding:5px;
      }
  </style> 
  <body>

    <div id="header">
      <h1>Alpha Blog</h1>
    </div>

    <div id="nav">
      <%= link_to 'About', about_path %><br>
      Paris<br>
      Tokyo
    </div>

    <div id="section">
      <h1>Welcome to Alpha Blog</h1>
      <%= link_to image_tag 'train.jpg', :size => '450x300' %>
      <p>Alpha Blog is a simple site that allows you to blog with friends.</p>
    </div>

    <div id="footer">
      <%= link_to 'About', about_path %>
    </div>

  </body> 
</html>
